body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

* {
    outline: none;
    padding: 0;
    margin: none;
}

#container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 40vw;
    height: 40vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(145, 145, 145);
    /* border: 0.15vw solid rgb(61, 61, 61); */
}

.item {
    background-color: #cccccc;
    /* padding: 1vw; */
    border: 0.075vw solid #000000;
}

.start {
    background-color: green;
}

.end {
    background-color: red;
}

.options {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
}

input[type="number"] {
    width: 8vw;
    height: 3vh;
    border: none;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    border: 0.1vw solid rgb(68, 68, 68);
    text-align: center;
}

button {
    width: 8vw;
    height: 3vh;
    background-color: aliceblue;
    border: none;
    /* border-bottom: 0.1vw solid rgb(68, 68, 68); */
}

button:hover {
    border-bottom: 0.1vw solid rgb(68, 68, 68);
}